<app-header></app-header>
<br>
<br>
<br>
<br>

<!-- Testimonial section -->
<section id="testimonials" class="parallax">
  <div class="overlay">
    <div class="container">
      <div class="row">

        <div class="sec-title text-center white wow animated fadeInDown">
          <h2>à propos</h2>
        </div>

        <div id="testimonial" class=" wow animated fadeInUp">
          <div class="testimonial-item text-center">

            <div class="clearfix">
              <span></span>
              <p> Premier octobre 1977 fut la date où le directeur de la société mère  décidait de créer une de ces  premières filiales en Tunisie signant le  début de 40 ans de travail et de création tunisienne.</p>
              <p> Le démarrage était dans le patelin « d’Ethrayet » du gouvernorat de  Sousse avec à peine une cinquantaine d’ouvriers pour s’agrandir et  évoluer avec le changement de son site à «Messaadine » pour s’imposer  comme un pôle incontournable de l’industrie des câbles en Tunisie.</p>
            </div>
          </div>
          <div class="testimonial-item text-center">

            <div class="clearfix">
              <span></span>
              <p>LEONI est devenu le fournisseur d’emploi le plus important en Tunisie  après l’Etat avec 16 500 cadres et ouvriers. Cette évolution s’est  faite graduellement ; de 500 ouvriers en 1996 à 1100 en 1997 puis 4597  en 2007 en c’est en 2009 que la société s’est octroyée les branches de  VALEO Mateur et Ezzahra suite à l’achat de la société mère de toutes ses  branches en matière d’industrie de câblage électrique dans le monde.</p>
            </div>
          </div>
          <div class="testimonial-item text-center">

            <div class="clearfix">
              <span></span>
              <p>Le quarantenaire de LEONI Tunisie peut-être considéré comme un  évènement national à portée économique et sociale. La direction générale  de la société est consciente de ses responsabilités et est à la hauteur  du défi pour garantir un avenir reluisant à tout le personnel de LEONI.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- end Testimonial section -->
