<app-header></app-header>
<div >
  <div  >



    <div >

      <div class="container col-xs-12" >

        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
          <fieldset>

            <!-- Form Name -->
            <legend>CIP Numero: {{this.numero}}</legend>

            <!-- Text input-->

            <div class="form-group">
              <label class="col-md-3 control-label">Collaborateur(s):</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa  fa-users"></i></span>
                  <input  name="collaborateurs" placeholder="" class="form-control"  type="text" [(ngModel)]="collaborateurs"disabled>
                </div>
              </div>
            </div>
            <!-- Text input-->

            <div class="form-group">
              <label class="col-md-3 control-label">Matricule(s):</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
                  <input  name="matricule" placeholder="" class="form-control" [(ngModel)]="matricule"  type="text" disabled>
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label">Service(s):</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-commenting-o"></i></span>
                  <input  name="service" placeholder="" class="form-control" [(ngModel)]="service" type="text" disabled>
                </div>
              </div>
            </div>
            <!-- Text input-->

            <div class="form-group">
              <label class="col-md-3 control-label">Nature du gain:</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-cc"></i></span>
                  <input  name="natureGain" placeholder="" class="form-control" [(ngModel)]="natureGain" type="text" disabled>
                </div>
              </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
              <label class="col-md-3 control-label">Date:</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input  name="date" placeholder="" class="form-control" [(ngModel)]="date" type="text" disabled>
                </div>
              </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
              <label class="col-md-3 control-label">Description:</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-commenting-o"></i></span>
                  <input  name="description" placeholder="" class="form-control" [(ngModel)]="description" type="text" disabled>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label">Valeur du gain:</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-money"></i></span>
                  <input  name="gain" placeholder="saisie la valeur du gain" class="form-control" [(ngModel)]="gain" type="text">
                </div>
              </div>
            </div>

            <div class="form-group">

              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                  <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                  </div>
                  <div class="table-header">
                    Fait partie de son travail?
                  </div>

                  <!-- div.table-responsive -->

                  <!-- div.dataTables_borderWrap -->
                  <div>
                    <table  class="table table-striped table-bordered table-hover">
                      <thead>
                      <tr>

                        <th>Oui</th>
                        <th>Non</th>

                      </tr>
                      </thead>

                      <tbody>
                      <tr >
                        <!------------------------->




                      <tr >


                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace" (change)="choixoui(gain)"/>
                            <span class="lbl"></span>
                          </label>
                        </td>
                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace" (change)="choixnon(gain)" />
                            <span class="lbl"></span>
                          </label>
                        </td>





                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <p>{{this.prime1}}</p>
            <div class="form-group">

              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                  <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                  </div>
                  <div class="table-header">
                    Gain ou Saving?
                  </div>

                  <!-- div.table-responsive -->

                  <!-- div.dataTables_borderWrap -->
                  <div>
                    <table  class="table table-striped table-bordered table-hover">
                      <thead>
                      <tr>

                        <th>Gain</th>
                        <th>Saving</th>

                      </tr>
                      </thead>

                      <tbody>
                      <tr >
                        <!------------------------->


                      <tr >


                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace"  (change)="choixgain(gain)" />
                            <span class="lbl"></span>
                          </label>
                        </td>
                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace" (change)="choixsaving(gain)" />
                            <span class="lbl"></span>
                          </label>
                        </td>





                      </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <p>{{this.prime2}}</p>
            <div class="form-group">

              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                  <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                  </div>
                  <div class="table-header">
                    Généralisable?
                  </div>

                  <!-- div.table-responsive -->

                  <!-- div.dataTables_borderWrap -->
                  <div>
                    <table  class="table table-striped table-bordered table-hover">
                      <thead>
                      <tr>

                        <th>Oui</th>
                        <th>Non</th>

                      </tr>
                      </thead>

                      <tbody>
                      <tr >
                        <!------------------------->


                      <tr >


                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace" (change)="choixoui3(gain)" />
                            <span class="lbl"></span>
                          </label>
                        </td>
                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace" (change)="choixnon3(gain)"/>
                            <span class="lbl"></span>
                          </label>
                        </td>





                      </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <p>{{this.prime3}}</p>
            <div class="form-group">

              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">

                  <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                  </div>
                  <div class="table-header">
                    Nouvelle Idée?
                  </div>

                  <!-- div.table-responsive -->

                  <!-- div.dataTables_borderWrap -->
                  <div>
                    <table  class="table table-striped table-bordered table-hover">
                      <thead>
                      <tr>

                        <th>Oui</th>
                        <th>Non</th>

                      </tr>
                      </thead>

                      <tbody>
                      <tr >
                        <!------------------------->


                      <tr >


                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace" (change)="choixoui4(gain)" />
                            <span class="lbl"></span>
                          </label>
                        </td>
                        <td class="center">
                          <label class="pos-rel">
                            <input name="form-field-radio" type="radio" class="ace" (change)="choixnon4(gain)" />
                            <span class="lbl"></span>
                          </label>
                        </td>





                      </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <p>{{this.prime4}}</p>

            <p>prime: {{this.prime}}</p>
            <p>points: {{this.points}}</p>
            <div class="form-group">
              <button class="btn btn-success" (click)="validation(gain)"> enregistrer</button>



            </div>



          </fieldset>
        </form>
      </div>


    </div>


  </div>
</div>
