<app-header></app-header>
<app-sidebar></app-sidebar>
<br>
<br>
<br>

<!-- Service section -->
<div class="page-content">





  <div class="row">
    <div class="col-md-10">




      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
        <div class="service-item">
          <div class="service-icon">
            <a routerLink="/validhome/liste" ><i class="	fa fa-list-ul fa-3x"></i></a>
          </div>
          <h3>Liste d'attente</h3>

        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-icon">
            <a routerLink="/validhome/validhistory" > <i class="fa fa-history fa-3x"></i></a>
          </div>
          <h3>Historique de validation</h3>

        </div>
      </div>





    </div>
  </div>
</div>
<!-- end Service section -->
