<app-header></app-header>
<br>
<br>
<br>
<br>

<!-- Service section -->
<section id="service">
  <div class="container">
    <div class="row">


      <div class="col-md-6 col-sm-6 col-xs-12 text-center wow animated zoomIn">
        <div class="service-item">
          <div class="service-icon">
            <a routerLink="/adminhome/cip1" ><i class="fa fa-facebook fa-3x"></i></a>
          </div>
          <h3>Liste d'attente</h3>
        </div>
      </div>



      <div class="col-md-6 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
        <div class="service-item">
          <div class="service-icon">
            <a routerLink="/adminhome/bdrh" > <i class="fa fa-database fa-3x"></i></a>
          </div>
          <h3>BDRH</h3>
          <p>Description</p>
        </div>
      </div>




    </div>
  </div>
</section>
<!-- end Service section -->
