<!--<div id="n" class="navbar navbar-default          ace-save-state">-->
  <!--<div class="navbar-container ace-save-state" id="navbar-container">-->
    <!--<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">-->
      <!--<span class="sr-only">Toggle sidebar</span>-->

      <!--<span class="icon-bar"></span>-->

      <!--<span class="icon-bar"></span>-->

      <!--<span class="icon-bar"></span>-->
    <!--</button>-->

    <!--<div class="navbar-header pull-left">-->
      <!--<a routerLink="/home" class="navbar-brand">-->
        <!--<img class="x" src="../../../assets/client/img/LEONI.png">-->
      <!--</a>-->
    <!--</div>-->
    <!--<nav role="navigation" class="navbar-menu pull-left collapse navbar-collapse">-->




      <!--&lt;!&ndash;<form class="navbar-form navbar-left form-search" role="search">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group ace-icon fa fa-search icon-only bigger-110 blue">&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" placeholder="search .." />&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->


      <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--</nav>-->

    <!--<div class=" navbar-header pull-right" role="navigation">-->
      <!--<ul class="nav ace-nav">-->

        <!--<li class="transparent dropdown-modal">-->
          <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
            <!--<i class="ace-icon fa fa-bell  blue icon-animated-bell"></i>-->
          <!--</a>-->

          <!--<div class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">-->
            <!--<div class="tabbable">-->
              <!--<ul class="nav nav-tabs">-->
                <!--<li class="active">-->
                  <!--<a data-toggle="tab" href="#navbar-tasks">-->
                  <!--Notifications-->
                    <!--<span class="badge badge-danger">4</span>-->
                  <!--</a>-->
                <!--</li>-->


              <!--</ul>&lt;!&ndash; .nav-tabs &ndash;&gt;-->

              <!--<div class="tab-content">-->
                <!--<div id="navbar-tasks" class="tab-pane in active">-->
                  <!--<ul class="dropdown-menu-right dropdown-navbar dropdown-menu">-->
                    <!--<li class="dropdown-content">-->
                      <!--<ul class="dropdown-menu dropdown-navbar">-->
                        <!--<li>-->
                          <!--<a href="#">-->
                            <!--<div class="clearfix">-->
                              <!--<span class="pull-left">Software Update</span>-->
                              <!--<span class="pull-right">65%</span>-->
                            <!--</div>-->

                            <!--<div class="progress progress-mini">-->
                              <!--<div style="width:65%" class="progress-bar"></div>-->
                            <!--</div>-->
                          <!--</a>-->
                        <!--</li>-->

                        <!--<li>-->
                          <!--<a href="#">-->
                            <!--<div class="clearfix">-->
                              <!--<span class="pull-left">Hardware Upgrade</span>-->
                              <!--<span class="pull-right">35%</span>-->
                            <!--</div>-->

                            <!--<div class="progress progress-mini">-->
                              <!--<div style="width:35%" class="progress-bar progress-bar-danger"></div>-->
                            <!--</div>-->
                          <!--</a>-->
                        <!--</li>-->

                        <!--<li>-->
                          <!--<a href="#">-->
                            <!--<div class="clearfix">-->
                              <!--<span class="pull-left">Unit Testing</span>-->
                              <!--<span class="pull-right">15%</span>-->
                            <!--</div>-->

                            <!--<div class="progress progress-mini">-->
                              <!--<div style="width:15%" class="progress-bar progress-bar-warning"></div>-->
                            <!--</div>-->
                          <!--</a>-->
                        <!--</li>-->

                        <!--<li>-->
                          <!--<a href="#">-->
                            <!--<div class="clearfix">-->
                              <!--<span class="pull-left">Bug Fixes</span>-->
                              <!--<span class="pull-right">90%</span>-->
                            <!--</div>-->

                            <!--<div class="progress progress-mini progress-striped active">-->
                              <!--<div style="width:90%" class="progress-bar progress-bar-success"></div>-->
                            <!--</div>-->
                          <!--</a>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</li>-->

                    <!--<li class="dropdown-footer">-->
                      <!--<a href="#">-->
                        <!--Voir plus ..-->
                        <!--<i class="ace-icon fa fa-arrow-right"></i>-->
                      <!--</a>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</div>&lt;!&ndash; /.tab-pane &ndash;&gt;-->

              <!--</div>&lt;!&ndash; /.tab-content &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.tabbable &ndash;&gt;-->
          <!--</div>&lt;!&ndash; /.dropdown-menu &ndash;&gt;-->
        <!--</li>-->

        <!--<li class="transparent dropdown-modal">-->
          <!--<a data-toggle="dropdown" class="dropdown-toggle"routerLink="/messages">-->
            <!--<i class="ace-icon fa fa-envelope  blue icon-animated-bell"></i>-->
          <!--</a>-->
        <!--</li>-->



<!--<li class="transparent dropdown-modal">-->
  <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
    <!--<i class="ace-icon fa fa-user bigger-110 blue "></i>-->
    <!--<i class=" fa fa-caret-down blue"></i>-->
  <!--</a>-->



          <!--<ul class="user-menu dropdown-menu-right dropdown-menu  dropdown-caret dropdown-close">-->

            <!--<li>-->
              <!--<a routerLink="/profil">-->
                <!--<i class="ace-icon fa fa-user"></i>-->
                <!--{{this.prenom +' '+ this.nom}}              </a>-->
            <!--</li>-->

            <!--<li class="divider"></li>-->

            <!--<li >-->
              <!--<a routerLink="/home" >-->
                <!--<i  class="ace-icon fa fa-power-off"></i>-->
                <!--Logout-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>&lt;!&ndash; /.navbar-container &ndash;&gt;-->

  <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="main-content-inner">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="breadcrumbs ace-save-state" id="breadcrumbs">&ndash;&gt;-->
      <!--&lt;!&ndash;<ul class="breadcrumb">&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="ace-icon fa fa-home home-icon"></i>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="#">Home</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->

        <!--&lt;!&ndash;<li>&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="#">Tables</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li class="active">Simple &amp; Dynamic</li>&ndash;&gt;-->
      <!--&lt;!&ndash;</ul>&lt;!&ndash; /.breadcrumb &ndash;&gt;&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="nav-search" id="nav-search">&ndash;&gt;-->
        <!--&lt;!&ndash;<form class="form-search">&ndash;&gt;-->
								<!--&lt;!&ndash;<span class="input-icon">&ndash;&gt;-->
									<!--&lt;!&ndash;<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />&ndash;&gt;-->
									<!--&lt;!&ndash;<i class="ace-icon fa fa-search nav-search-icon"></i>&ndash;&gt;-->
								<!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&lt;!&ndash; /.nav-search &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</div>-->
<div class="header" >
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- Logo -->

        <img id="l" src="../../../assets/client/img/LEONI.png">

      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group form">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
	                         <button class="btn btn-primary" type="button">Search</button>
	                       </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="navbar navbar-inverse" role="banner">
          <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav">
              <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown " >My Account <b class="caret"></b></a>
                <ul class="dropdown-menu animated fadeInUp">
                  <li><a href="profile.html">Profile</a></li>
                  <li><a href="login.html">Logout</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
