<link rel="stylesheet" type="text/css" href="../../assets/t2/css/style.css" />
<div id="body">



  <!--header==================================== -->
  <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- /responsive nav button -->

        <!-- logo -->
        <h1 class="navbar-brand">
          <img class="n" src="../../assets/client/img/LEONI.png">
        </h1>
        <!-- /logo -->
      </div>

      <!-- main nav -->
      <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <ul id="nav" class="nav navbar-nav">
          <li><a href="#body">Accueil</a></li>
          <li><a href="#service">Services</a></li>
          <li><a href="#portfolio">Actualités</a></li>
          <li><a href="#testimonials">A propos</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><button type="button" class="btn btn-primary btn-effect btn-sm" href="#myModal" data-toggle="modal">Login</button></li>
        </ul>
      </nav>
      <!-- /main nav -->

    </div>
  </header>
  <!--End header==================================== -->
  <!--------------------------------modal------------------------->
  <!--<div id="modal-form" class="modal">-->
    <!--<div class="modal-dialog" >-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header" >-->
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <!--<h4 class="blue bigger">Login</h4>-->
        <!--</div>-->

        <!--<div class="modal-body">-->
          <!--<div class="row">-->


            <!--<div id="login-box" class="login-box visible widget-box no-border">-->
              <!--<div class="widget-body">-->
                <!--<div class="widget-main">-->

                  <!--<div class="space-6"></div>-->

                  <!--<form >-->
                    <!--<fieldset>-->
                      <!--<label class="block clearfix ">-->
														<!--<span class="block input-icon input-icon-right">-->
															<!--<input type="text" class="form-control" placeholder="Username" [(ngModel)]="email" name="email" />-->
															<!--<i class="ace-icon fa fa-user"></i>-->
														<!--</span>-->
                      <!--</label>-->

                      <!--<label class="block clearfix">-->
														<!--<span class="block input-icon input-icon-right">-->
															<!--<input type="password" class="form-control" placeholder="Password"  [(ngModel)]="password" name="password" />-->
															<!--<i class="ace-icon fa fa-lock"></i>-->
														<!--</span>-->
                      <!--</label>-->

                      <!--<div class="space"></div>-->

                      <!--<div class="clearfix">-->
                        <!--<label class="inline">-->
                          <!--<input type="checkbox" class="ace" />-->
                          <!--<span class="lbl"> Remember Me</span>-->
                        <!--</label>-->

                        <!--<button type="button" class="width-35 pull-right btn btn-sm btn-primary close"  (click)="login(email,password)"  data-dismiss="modal">-->
                          <!--<i class="ace-icon fa fa-key"></i>-->
                          <!--<span class="bigger-110">Login</span>-->
                        <!--</button>-->
                      <!--</div>-->

                      <!--<div class="space-4"></div>-->
                    <!--</fieldset>-->
                  <!--</form>-->


                <!--</div>&lt;!&ndash; /.widget-main &ndash;&gt;-->

                <!--&lt;!&ndash;<div class="toolbar clearfix col-xs-5">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" data-target="#forgot-box" class="forgot-password-link">&ndash;&gt;-->
                      <!--&lt;!&ndash;<i class="ace-icon fa fa-arrow-left"></i>&ndash;&gt;-->
                      <!--&lt;!&ndash;I forgot my password&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->

                  <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" data-target="#signup-box" class="user-signup-link">&ndash;&gt;-->
                      <!--&lt;!&ndash;I want to register&ndash;&gt;-->
                      <!--&lt;!&ndash;<i class="ace-icon fa fa-arrow-right"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</div>&lt;!&ndash; /.widget-body &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.login-box &ndash;&gt;-->






          <!--</div>-->
        <!--</div>-->


      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!-----------------------------end modal------------------------>


  <main class="site-content" role="main">

    <!--
    Home Slider
    ==================================== -->
    <section id="banner">
      <div class="inner">
        <h1>leoni wiring systems tunisia</h1>

      </div>
      <video autoplay loop muted playsinline src="../../assets/t2/banner.mp4"></video>
    </section>

    <!--
    End Home SliderEnd
    ==================================== -->

    <!-- about section -->
    <section id="about" >
      <div class="container">
        <div class="row">
          <div class="col-md-4 wow animated fadeInLeft">
            <div class="recent-works">
              <h3>HISTOIRE</h3>
              <div>
                <div>
                  <p> Premier octobre 1977 fut la date où le directeur <br>de la société mère  décidait de créer une<br> de ces  premières filiales en Tunisie signant le <br> début de 40 ans de travail et de création tunisienne.<br>
                    Le démarrage était dans le patelin « d’Ethrayet » <br>du gouvernorat de  Sousse avec à peine une cinquantaine<br> d’ouvriers pour s’agrandir et  évoluer avec le changement <br>de son site à «Messaadine » pour s’imposer  comme <br>un pôle incontournable de l’industrie des câbles en Tunisie.</p>
                </div>
                <!--<div class="work-item">-->
                  <!--<p>LEONI est devenu le fournisseur d’emploi le plus <br>important en Tunisie  après l’Etat avec 16 500 <br>cadres et ouvriers. Cette évolution s’est  faite<br> graduellement ; de 500 ouvriers en 1996 à 1100 <br>en 1997 puis 4597  en 2007 en c’est en 2009 que<br> la société s’est octroyée les branches de  VALEO <br>Mateur et Ezzahra suite à l’achat de la société<br> mère de toutes ses  branches en matière d’industrie <br>de câblage électrique dans le monde.</p>-->
                <!--</div>-->
                <!--<div class="work-item">-->
                  <!--<p>Le quarantenaire de LEONI Tunisie peut-être considéré <br>comme un  évènement national à portée économique <br>et sociale. La direction générale  de la société <br>est consciente de ses responsabilités et est à la hauteur <br> du défi pour garantir un avenir reluisant à tout<br> le personnel de LEONI.</p>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
            <div class="welcome-block">
              <h3>à propos</h3>
              <img src="../../assets/client/img/LEONIsousse.jpg" class="pull-left" alt="member">

              <p>LEONI Tunisie est une société spécialisée dans la <br>fabrication des câbles électroniques et électriques <br>destinés au secteur automobile, 40ans en Tunisie.</p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->


    <!-- Service section -->
    <section id="service">
      <div class="container">
        <div class="row">



          <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn">
            <div class="service-item">
              <div class="service-icon">
                <a routerLink="/userhome/cip" ><i class="fa fa-bank fa-3x"></i></a>
              </div>
              <h3>Banque CIP</h3>
              <p>description </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
            <div class="service-item">
              <div class="service-icon">
                <a routerLink="/userhome/evaluation" > <i class="fa fa-tasks fa-3x"></i></a>
              </div>
              <h3>Evaluation</h3>
              <p>description</p>
            </div>
          </div>




          <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
            <div class="service-item">
              <div class="service-icon">
                <a routerLink="/userhome/enquete" > <i class="fa fa-file-text-o fa-3x"></i></a>
              </div>
              <h3>Enquete</h3>
              <p>description</p>
            </div>
          </div>



        </div>
      </div>

    </section>
    <!-- end Service section -->

    <!-- portfolio section -->
    <section id="portfolio">
      <div class="container">
        <div class="row">

          <div class="sec-title text-center wow animated fadeInDown">
            <h2>Actualités</h2>

          </div>


          <ul class="project-wrapper wow animated fadeInUp">
            <li class="portfolio-item">
              <img src="../../assets/client/img/portfolio/item.jpg" class="img-responsive" alt="consequat">
              <figcaption class="mask">

                <p>40 سنة في تونس، السيد المدير العام لشركة ليوني محمد العربي رويس يكرم العاملات النواة الأولى لليوني سنة 1977 و يهدي لكل واحدة منهن رحلة عمرة إلى البقاع المقدسة .</p>
              </figcaption>

            </li>

            <li class="portfolio-item">
              <img src="../../assets/client/img/portfolio/item2.jpg" class="img-responsive" alt="description">
              <figcaption class="mask">

                <p>مسابقة أحسن صورة لباس تقليدي في ليوني</p>
              </figcaption>

            </li>

            <li class="portfolio-item">
              <img src="../assets/client/img/portfolio/item3.jpg" class="img-responsive" alt="description">
              <figcaption class="mask">

                <p>زيارة رئيس الحكومة السيد يوسف الشاهد و الوفد المرافق له السيد زياد العذاري وزير التنمية و الاسكان و السيد سمير الفرياني وزير الصناعة وسفير ألمانيا بتونس السيد أندرياس إنريكي لمقر الشركة بالمسعدين
                </p>
              </figcaption>

            </li>

            <li class="portfolio-item">
              <img src="../assets/client/img/portfolio/item4.jpg" class="img-responsive" alt="description">
              <figcaption class="mask">

                <p>La fête du 40eme LEONI</p>
              </figcaption>
              <!--<ul class="external">-->
                <!--<li><a class="fancybox" title="Actualité 4" data-fancybox-group="works" href="../assets/client/img/portfolio/item4.jpg"><i class="fa fa-search"></i></a></li>-->
                <!--<li><a href=""><i class="fa fa-link"></i></a></li>-->
              <!--</ul>-->
            </li>

            <li class="portfolio-item">
              <img src="../assets/client/img/portfolio/item5.jpg" class="img-responsive" alt="description">
              <figcaption class="mask">
                <h3>Actualité</h3>
                <p>#conférence #jendouba #bizerte #monastir #CORP_Tour #emploi #etudiant</p>
              </figcaption>

            </li>

            <li class="portfolio-item">
              <img src="../assets/client/img/portfolio/item6.jpg" class="img-responsive" alt="description">
              <figcaption class="mask">

                <p>Journée dépistage du cancer du sein</p>
              </figcaption>

            </li>
          </ul>

        </div>
      </div>
    </section>
    <!-- end portfolio section -->

    <!-- Testimonial section -->
    <section id="testimonials" class="parallax">
      <div class="overlay">
        <div class="container">
          <div class="row">

            <div class="sec-title text-center white wow animated fadeInDown">
              <h2>titre</h2>
            </div>

            <div id="testimonial" class=" wow animated fadeInUp">
              <div class="testimonial-item text-center">
                <!--<img src="../assets/client/img/member-1.jpg" alt="Our Clients">-->
                <div class="clearfix">
                  <span>image</span>
                  <p>Description</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- end Testimonial section -->



    <!-- Social section -->
    <section id="social" class="parallax">
      <div class="overlay">
        <div class="container">
          <div class="row">

            <div class="sec-title text-center white wow animated fadeInDown">
              <h2>Suivez nous</h2>

            </div>

            <ul class="social-button">


              <li class="wow animated zoomIn" ><a href="https://www.facebook.com/leoni.tunisia"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.leoni.com"><i class="fa fa-dribbble fa-2x"></i></a></li>
              <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.youtube.com/user/leonigruppe"><i class="fa fa-youtube fa-2x"></i></a></li>

            </ul>

          </div>
        </div>
      </div>
    </section>
    <!-- end Social section -->

    <!-- Contact section -->
    <section id="contact" >
      <div class="container">
        <div class="row">

          <div class="sec-title text-center wow animated fadeInDown">
            <h2>Contact</h2>

          </div>


          <div class="col-md-7 contact-form wow animated fadeInLeft">
            <form action="#" method="post">
              <div class="input-field">
                <input type="text" name="name" class="form-control" placeholder="Nom...">
              </div>
              <div class="input-field">
                <input type="email" name="email" class="form-control" placeholder="Email...">
              </div>
              <div class="input-field">
                <input type="text" name="subject" class="form-control" placeholder="Sujet...">
              </div>
              <div class="input-field">
                <textarea name="message" class="form-control" placeholder="Messages..."></textarea>
              </div>
              <button type="submit" id="submit" class="btn btn-blue btn-effect">Envoyé</button>
            </form>
          </div>

          <div class="col-md-5 wow animated fadeInRight">
            <address class="contact-details">
              <h3>CONTACTEZ NOUS</h3>
              <p><i class="fa fa-map-marker"></i>Zone Industrielle Messaadine <span>Route de M'Saken</span> <span>Sousse، Boulevard Dr Taieb Hachicha،</span><span>Messadine 4000</span></p><br>
              <p><i class="fa fa-phone"></i>Phone: (+216) 73 102 000 </p>
              <p><i class="fa fa-envelope-o"></i>@leoni.tunisia</p>
            </address>
          </div>

        </div>
      </div>
    </section>
    <!-- end Contact section -->

    <section id="google-map">
      <div id="map-canvas" class="wow animated fadeInUp"></div>
    </section>

  </main>

  <footer id="footer">
    <div class="container">
      <div class="row text-center">
        <div class="footer-content">

          <!--<form action="#" method="post" class="subscribe-form wow animated fadeInUp">-->
          <!--<div class="input-field">-->
          <!--<input type="email" class="subscribe form-control" placeholder="Enter Your Email...">-->
          <!--<button type="submit" class="submit-icon">-->
          <!--<i class="fa fa-paper-plane fa-lg"></i>-->
          <!--</button>-->
          <!--</div>-->
          <!--</form>-->


          <p>Copyright &copy; LEONI Tunisia </p>
        </div>
      </div>
    </div>
  </footer>
</div>
<div id="myModal1" class="modal" tabindex="-1" role="dialog">


  <div class="modal-dialog wow animated bounceInLeft" >



    <div class="modal-body">


      <form>
        <h1>Employer Log in</h1>
        <div class="inset">
          <p>
            <label for="email">EMAIL ADDRESS</label>
            <input type="text" name="email" id="email">
          </p>
          <p>
            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password">
          </p>
          <p>
            <input type="checkbox" name="remember" id="remember">
            <label for="remember">Remember me for 14 days</label>
          </p>
        </div>
        <p class="p-container">
          <span>Forgot password ?</span>
          <input type="submit" name="go" id="go" value="Log in">
        </p>
      </form>

    </div>


  </div>

</div>
        <!-- *** SIGNUP MODAL ***-->
<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 class="modal-title text-center">Login</h4>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="email" name="email" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="password" name="password" />
          </div>
          <p class="text-center">
            <button class="btn btn-primary" (click)="login(email,password)"  data-dismiss="modal"><i class="pe-7s-magic-wand"  ></i> Sign in</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- *** SIGNUP MODAL END ***-->
